<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 정보 관리</title>

    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>

    <style>
        .form-group {
            margin-bottom: 15px;
        }

        .sub-writer-group {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .sub-writer-group select {
            margin-right: 10px;
        }

        .control-label+.btn-secondary {
            margin-left: 10px;
        }

        /* #cke_187_uiElement {
            margin-top: 80px;
        } */
    </style>
</head>

<body>
    <!--우측 콘텐츠 헤더영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>게시글 정보 관리</h2>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home</a></li>
                <li><a>게시글 정보 관리</a></li>
                <li class="active"><strong>기존 게시글 확인 및 수정/삭제</strong></li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <div class="wrapper wrapper-content">
        <form id="modifyForm" action="/article/modify" method="post">
            <input type="hidden" name="article_id" value="<%= article.id %>" />

            <div class="ibox-content m-b-sm border-bottom">

                <!-- 카테고리 영역 -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">카테고리</label>
                            <select class="form-control" id="category" name="category" onchange="updateSubcategories()">
                                <option value="Campus News" <% if (article.category==='Campus News' ) { %>selected<% }
                                        %>>Campus News</option>
                                <option value="Social Issue" <% if (article.category==='Social Issue' ) { %>selected<% }
                                        %>>Social Issue</option>
                                <option value="Culture" <% if (article.category==='Culture' ) { %>selected<% } %>
                                        >Culture</option>
                                <option value="Column" <% if (article.category==='Column' ) { %>selected<% } %>>Column
                                </option>
                                <option value="Photo" <% if (article.category==='Photo' ) { %>selected<% } %>>Photo
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">세부 카테고리</label>
                            <select class="form-control" id="subcategory" name="subcategory">
                                <!-- 서브 카테고리는 JavaScript를 통해 동적으로 변경됩니다. -->
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 발간호 & 기자 선택 영역 -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">메인 기자</label>
                            <select class="form-control" id="main_writer" name="main_writer">
                                <% writers.forEach(function(writer) { %>
                                    <option value="<%= writer.id %>" <% if (mainWriter &&
                                        mainWriter.writer_id===writer.id) { %>selected<% } %>><%= writer.english_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">발간호</label>
                            <input type="text" name="publication_issue" value="<%= article.publication_issue %>"
                                class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">서브 기자</label>
                            <button type="button" class="btn btn-primary btn-sm" id="addSubWriter">+ 추가</button>
                            <div id="sub_writers">
                                <% subWriters.forEach(function(subWriter) { %>
                                    <div class="sub-writer-group">
                                        <select class="form-control" name="sub_writers[]">
                                            <% writers.forEach(function(writer) { %>
                                                <option value="<%= writer.id %>" <% if (subWriter.writer_id===writer.id)
                                                    { %>selected<% } %>><%= writer.english_name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                        <button type="button" class="btn btn-danger removeSubWriter">-</button>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 글제목영역 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">글제목</label>
                            <input type="text" id="title" name="title" value="<%= article.title %>"
                                class="form-control" required>
                        </div>
                    </div>
                </div>

                <!-- 글내용영역 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">글내용</label>
                            <textarea class="form-control" id="content" name="content" rows="10"
                                cols="10"><%= article.content %></textarea>
                        </div>
                    </div>
                </div>

            <!-- 저장 목록 영역 -->
            <div class="row">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">수정</button>
                    <button type="button" class="btn btn-danger" id="btnDelete">삭제</button>
                    <a href="/article/list" class="btn btn-info">목록</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        console.log("Initializing CKEditor...");
        CKEDITOR.replace('content', {
            height: 800,
            extraPlugins: 'uploadimage',
            filebrowserUploadUrl: '/article/upload_image',
            filebrowserUploadMethod: 'form',
            on: {
                dialogShow: function (ev) {
                    var dialog = ev.data;

                    // iframe 스타일 조정
                    var iframe = dialog.parts.contents.$.querySelector('iframe.cke_dialog_ui_input_file');
                    if (iframe) {
                        iframe.style.height = '200px';
                        iframe.style.width = '100%';
                    }

                    // "서버로 전송" 버튼에 마진 80px 적용
                    var uploadButton = dialog.parts.contents.$.querySelector('.cke_dialog_ui_fileButton');
                    if (uploadButton) {
                        uploadButton.style.marginTop = '80px';
                    }
                },
            }
        });


        function updateSubcategories() {
            const subcategories = {
                "Campus News": ["Campus Main","Campus News"],
                "Social Issue": ["Society", "Global", "Feature"],
                "Culture": ["Culture", "People", "Experience"],
                "Column": ["Column"],
                "Photo": ["Photo", "Cartoon"]
            };

            const categorySelect = document.getElementById("category");
            const subcategorySelect = document.getElementById("subcategory");
            const selectedCategory = categorySelect.value;
            const selectedSubcategory = "<%= article.subcategory %>";

            subcategorySelect.innerHTML = "";

            subcategories[selectedCategory].forEach(sub => {
                const option = document.createElement("option");
                option.value = sub;
                option.textContent = sub;
                if (sub === selectedSubcategory) {
                    option.selected = true;
                }
                subcategorySelect.appendChild(option);
            });
        }

        updateSubcategories();

        document.getElementById('addSubWriter').addEventListener('click', function () {
            var subWriterGroup = document.createElement('div');
            subWriterGroup.className = 'sub-writer-group';
            subWriterGroup.innerHTML = `
                <select class="form-control" name="sub_writers[]">
                    <% writers.forEach(function(writer) { %>
                        <option value="<%= writer.id %>"><%= writer.english_name %></option>
                    <% }); %>
                </select>
                <button type="button" class="btn btn-danger removeSubWriter">-</button>
            `;
            document.getElementById('sub_writers').appendChild(subWriterGroup);

            subWriterGroup.querySelector('.removeSubWriter').addEventListener('click', function () {
                subWriterGroup.remove();
            });
        });

        $("#btnDelete").click(function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = "/article/delete?id=<%= article.id %>"
            }
        });
    </script>
</body>

</html>